.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease; /* Set the transition duration and easing function */
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-indicators div {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators div.active {
  background-color: #333;
}
