:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --yellow: rgb(236, 157, 10);
  --light-yellow: rgba(255, 169, 98, 0.6);
  --gray: rgb(167 167 167 / 30%);
  --full-w: 100%;
  --full-h: 100%;
  --h1-clamp: clamp(8rem, 10vw, 20rem);
  --h2-clamp: clamp(2rem, 1vw, 4rem);
  --p-clamp: clamp(1rem, 1vw, 1.5rem);
  --default-font-size: 2rem;
  --default-heading-size: 3rem;
  --duration: 0.5s;
  --short-duration: 350ms;
  --gap: 0.4rem;
  --default-padding: 1.2rem;
  --z-20: 20;
  --z-30: 30;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Gochi Hand", cursive;
  letter-spacing: 1px;
}

html {
  background-color: var(--white);
  font-size: 62.5%;
  text-transform: uppercase;
  scroll-behavior: smooth;
}

